@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: system-ui, sans-serif;
}
